<% function timeConverter(UNIX_timestamp){
  var a = new Date(UNIX_timestamp );
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getFullYear();
  var month = months[a.getMonth()];
  var date = a.getDate();
  var hour = a.getHours();
  var min = a.getMinutes();
  var sec = a.getSeconds();
  var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
  return time;
}%> 

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Chronicle UI</title>
</head>
<body>
  <nav class="navbar navbar-light bg-info">
    <div class="container-fluid">
      <h2 style="color:floralwhite"> Chronicle UI</h2>
    </div>
  </nav>

    <div class="container-fluid mt-3 px-3" style="text-align: center;">

      <div class="card text-light bg-dark border-secondary mx-auto  mb-3" style="width:40%">
        <div class="card-header"><h3>Serviceability Logs</h3></div>
        <div class="card-body" style="width:100%">
        <form action="http://localhost:3000/fetch-logs" method="POST" class="mb-2" style="text-align: left;">
          <div class="form-group">
            <label for="entityName" class="form-label " >Entity Name:</label>
              <select name="entityName" id="inputState" class="form-control">
                <option value="ServiceabilityConfig" selected>ServiceabilityConfig</option>
                <option value="CourierPreferenceConfig"> CourierPreferenceConfig</option>
              </select>
          </div>
          
          <div class="form-group">
            <label for="group" class="form-label">Group:</label>
            <input type="text" class="form-control" id="group" name="group" placeholder="Enter pincode" value="DEFAULT">
          </div>
          <div class="form-group">
            <label for="pincode" class="form-label">Key:</label>
            <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Enter Key">
          </div>
          <button class="btn btn-success btn-sm" type="submit">Submit</button>
        </form>
        <form action="http://localhost:3000/clear-logs" method="POST" style="text-align: left;">
          <button class="btn btn-danger btn-sm" type="submit" >Clear</button>
        </form>
        </div>
      </div>



      <div id="logs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ServiceabilityConfig</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">CourierPreferenceConfig</a>
          </li>
          
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <% serviceabilityLogs.forEach(log => { %>
            <div class="card text-dark border-dark bg-light mb-3">
              <div class="card-header">Pincode: <%= log[0].entityId %> </div>
              <div class="">
                <table class="table" style="font-size: 0.8rem;">
                  <thead> 
                    <tr>
                      <th>Author</th>
                      <th>Date and Time</th>
                      <% Object.keys(log[0].newJsonData.ChronicleLogEntity).slice(2).forEach(element => {%>
                        <th scope="col"><%= element %> </th>
                      <%}); %> 
                    </tr>
    
                  </thead>
                  <tbody>
             <%log.forEach(obj => {%>
                <tr style="background-color: rgb(130, 204, 130); ">
                  <td class="border-top border-dark" rowspan="2"  style="font-weight: 600; margin-top: auto; background-color: palegoldenrod;"><%= obj.actorName%></td>
                  <td class="border-top border-dark" rowspan="2"  style="font-weight: 600; margin-top: auto; background-color: palegoldenrod;"><%= timeConverter(obj.actionTime) %></td>
                  <% Object.values(obj.newJsonData.ChronicleLogEntity).slice(2).forEach(element => {%>
                  <td class="border-top border-dark" scope="row"><%= element %> </td>
                  <% }); %> 
                </tr>
                
                <tr  style="background-color: rgb(219, 108, 108); ">
                  <% Object.keys(obj.newJsonData.ChronicleLogEntity).slice(2).forEach(element => {%>
                    <% if(obj.oldJsonData.ChronicleLogEntity.hasOwnProperty(element)){ %> 
                      <td style="color: blue;"><%= obj.oldJsonData.ChronicleLogEntity[element] %></td>
                      <% }else{ %>
                        <td></td>
                        <% } %> 
                    <% }); %> 
                </tr>
              <% });%>
            </tbody>
            </table>
            </div>
          </div>
           <%}); %> </div>


          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <% courierPreferenceLogs.forEach(log => { %>
              <div class="card text-dark border-dark bg-light mb-3">
                <div class="card-header">Hub Code: <%= log[0].entityId %> </div>
                <div class="">
                  <table class="table" style="font-size: 0.8rem;">
                    <thead> 
                      <tr>
                        <th>Author</th>
                        <th>Date and Time</th>
                        <% Object.keys(log[0].newJsonData.CourierPreferenceLog).slice(1).forEach(element => {%>
                          <th scope="col"><%= element %> </th>
                        <%}); %> 
                      </tr>
      
                    </thead>
                    <tbody>
               <%log.forEach(obj => {%>
                  <tr style="background-color: rgb(130, 204, 130); ">
                    <td class="border-top border-dark" rowspan="2"  style="font-weight: 600; margin-top: auto; background-color: palegoldenrod;"><%= obj.actorName%></td>
                    <td class="border-top border-dark" rowspan="2"  style="font-weight: 600; margin-top: auto; background-color: palegoldenrod;"><%= timeConverter(obj.actionTime) %></td>
                    <% Object.keys(obj.newJsonData.CourierPreferenceLog).slice(1).forEach(element => {%>
                    <td class="border-top border-dark" scope="row">
                      <%if(element === "preference"){
                        var sortable = [];
                          for (var ele in obj.oldJsonData.CourierPreferenceLog[element]) {
                            sortable.push([ele, obj.newJsonData.CourierPreferenceLog[element][ele]]);
                          }

                          sortable.sort(function(a, b) {
                            return a[1] - b[1];
                          });
                          sortable.forEach((el,i)=>{
                            %>
                            <%= el[0]%>

                          <%  
                          if(i!==sortable.length-1){
                            %>
                            ,
                            <%
                          }
                          })
                      }
                      else{%>
                        <%= obj.newJsonData.CourierPreferenceLog[element]%>

                      <%}%>
                      </td>
                    <% }); %> 
                  </tr>
                  <tr  style="background-color: rgb(219, 108, 108); ">
                    <% Object.keys(obj.newJsonData.CourierPreferenceLog).slice(1).forEach(element => {%>
                      <% if(obj.oldJsonData.CourierPreferenceLog.hasOwnProperty(element)){ %> 
                        <td style="color: blue;">
                          <% 
                          var sortable = [];
                          for (var ele in obj.oldJsonData.CourierPreferenceLog[element]) {
                            sortable.push([ele, obj.oldJsonData.CourierPreferenceLog[element][ele]]);
                          }

                          sortable.sort(function(a, b) {
                            return a[1] - b[1];
                          });
                          
                          sortable.forEach((el,i)=>{
                            %>
                            <%= el[0]%>

                          <%  
                          if(i!==sortable.length-1){
                            %>
                            ,
                            <%
                          }
                          })
                          %>
                          
                        </td>
                        <% }else{ %>
                          <td></td>
                          <% } %> 
                      <% }); %> 
                  </tr>
                <% });%>
              </tbody>
              </table>
              </div>
            </div>
             <%}); %>

          </div>
        </div>
        
        
    
    </div>
    </div>
</body>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
